* {
  box-sizing: border-box;
  color: var(--color-text-primary);
}

:root {
  --color-text-primary: #172d2e;
  --bg-color-primary: #fd990b;
  --bg-color-secondary: antiquewhite;
  --bg-color-button: #44873e;
  --color-primary: #172d2e;
  --color-secondary: #028688;
}

body {
  background-color: var(--bg-color-primary);
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 600px;
}

form {
  background-color: var(--bg-color-secondary);
  text-align: center;
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

h1,
#top {
  text-align: center;
}

label {
  display: inline-block;
  width: 140px;
  vertical-align: top;
  line-height: 2;
  border-radius: 25%;
  transition: all 0.2s ease-in-out;
}

input {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  margin-bottom: 25px;
  width: 20%;
  padding: 5px 10px;
}

input:hover {
  border-color: var(--bg-color-primary);
  transition: all 0.4s ease-in-out;
  width: 35%;
}

input:active {
  border-color: var(--color-secondary);
}


input.content {
  background-color: var(--bg-color-secondary);
  max-width: 600px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

#how,
#message {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

select#how {
  height: 25px;
}

#how:hover {
  border-color: var(--bg-color-primary);
}

#message:hover {
  border-color: var(--bg-color-primary);
}

textarea#message {
  font-family: "Open Sans";
}

button[type="submit"] {
  width: 30%;
  background-color: var(--bg-color-button);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid var(--bg-color-button);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button[type="submit"]:hover {
  color: var(--bg-color-button);
  background-color: var(--bg-color-secondary);
}
